function Test.test 0
push argument 0
pop pointer 0
push constant 0
return
function Test.main 4
push constant 1
call String.new 1
push constant 72
call String.appendChar 2
call Keyboard.readInt 1
pop local 1
push local 1
call Array.new 1
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push local 1
lt
not
if-goto WHILE_END0
push local 2
push local 0
add
push constant 1
call String.new 1
push constant 69
call String.appendChar 2
call Keyboard.readInt 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 2
push local 2
push constant 1
call String.new 1
push constant 82
call String.appendChar 2
call Keyboard.readInt 1
add
pop local 3
label WHILE_EXP1
push local 2
push local 1
lt
not
if-goto WHILE_END1
push local 3
push local 2
push local 0
add
pop pointer 1
push that 0
add
pop local 3
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 1
call String.new 1
push constant 84
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 3
push local 1
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
